%container
  max-width: 1500px
  margin: 0 auto
  padding: auto

$font-size: 35px
.container
  @extend %container
.hi
  font-family: 'Marck Script', cursive
  text-align: center
  font-size: 50px
.anime-turkey
  display: inline

@keyframes blinking
  0%
    color: black
  10%
    color: red
  20%
    color: orange
  30%
    color: yellow
  40%
    color: green
  50%
    color: indigo
  60%
    color: violet
  65%
    color: black
  70%
    color: purple
  80%
    color: pink
  85%
    color: black
  90%
    color: Crimson
  100%
    color: Olive

.anime-turkey
  animation: blinking 35s infinite
.store-description
  font-family: 'Caveat', cursive
  font-size: $font-size
  border-bottom: 2px outset blue
.what_s_in_the_store
  font-size: $font-size
.on_sale
  font-size: 25px
/* Раздел названия продуктов + картинки их изображение
 */
.containerForImg
  display: grid
  grid-template-columns: 350px 350px 400px
  grid-gap: 10px
  grid-template-rows: auto auto 15px 15px 15px auto auto 15px auto
  grid-auto-rows: minmax(0,auto)

%image
  &:hover
    animation: transform 3s infinite
    @keyframes transform
      0%
        transform: rotate3d(0, 0, 0, 0deg)
      50%
        transform: rotate3d(1, 1, 1, 360deg)
      50.1%
        transform: perspective(200px) scale(2)
      100%
        transform: perspective(200px) scale(1.3)

%forImgAndSmallTag
  width: 300px
  height: 300px
.production
  grid-column: 1
  grid-row: 1
.cutlets

  grid-column: 1
  grid-row: 1

.cutlets_sausage
  grid-column: 2
  grid-row: 1
.for_products_picture1
  @extend %forImgAndSmallTag
.image_for_products_picture1
  @extend %image
  grid-column: 1
  grid-row: 2
.forTagSmallCordon
  grid-column: 1
  grid-row: 3
.for_products_picture2
  @extend %forImgAndSmallTag
.image_for_products_picture2
  @extend %image
  grid-column: 2
  grid-row: 2
.forTagSmall2
  grid-column: 2
  grid-row: 3
.img_chips
  @extend %forImgAndSmallTag
.image_img_chips
  grid-column: 3
  grid-row: 2
  @extend %image
.chips
  grid-column: 3
  grid-row: 1
.small_smoked
  grid-column: 3
.imge_img_breast_fillet
  @extend %image
  grid-column: 1
  grid-row: 7
.img_breast_fillet
  @extend %forImgAndSmallTag

.breast_fillet
  grid-column: 1
  grid-row: 6
.smallFillet
  grid-column: 1
  grid-row: 8

.img_cutletsForGamburger
  @extend %forImgAndSmallTag
.image_cutletsForGamburger
  @extend %image
  grid-column: 2
  grid-row: 7
.cutletsForGamburger
  grid-column: 2
  grid-row: 6
.smallCutletsForGamburger
  grid-column: 2
  grid-row: 8
.nuggets_cheburek
  grid-column: 3
  grid-row: 6
.img_nuggets_cheburek
  @extend %forImgAndSmallTag
.image_nuggets_cheburek
  @extend %image
  grid-column: 3
  grid-row: 7
/* Раздел печатного стиля поле картинок
.product_advertising.animate
  overflow: hidden
  white-space: nowrap
  animation: typing 20s linear
  @keyframes typing
    0%
      width: 0%
    100%
      width: 100%
mark.markMeat
  background-color: yellow
.reason
  font-family: 'Arial', sans-serif
  font-size: 1.2em
  color: darkblue
  background-color: lightgray
  border: 1px solid darkblue
  border-radius: 5px
  padding: 10px
  margin: 10px
  text-align: center
  transition: all 0.5s ease

  &:hover
    color: white
    background-color: darkblue
.text-reason
  padding: 10px
  margin: 10px
  font-family: Arial, sans-serif
  font-size: 19px
#sentence span
  animation-name: colorChange
  animation-duration: 3s
  animation-direction: alternate-reverse
  animation-iteration-count: infinite

@keyframes colorChange
  0%
    color: black
  50%
    color: #8B008B
  100%
    color: #00FF00
.container1
  /* анимация для проходящего бегущего блока */
  position: relative
  width: 100%
  height: 100px
  overflow: hidden

  .separator
    position: absolute
    top: 0
    left: 0%
    width: 100%
    height: 100%

    .running-light
      position: relative
      top: 0
      left: 100%
      width: 100%
      height: 100%
      background-color: yellow
      animation: lightning 4s ease-in-out infinite

      @keyframes lightning
        0%
          left: -100%
        50%
          left: 50%
          background-color: #C71585

        100%
          left: 100%
          background-color: #20B2AA

.image-viewer
  width: 700px
  height: 350px
  overflow: hidden
  margin-left: 350px
  .image-container
    width: 100%
    height: 100%
    overflow: auto
    background-color: #008080
    .box
      margin-left: 100px
      width: 500px
      height: 500px
      margin-bottom: 200px
.nameProduct
  font-family: 'Pacifico', cursive
  border: 5px dotted blue
  border-radius: 10px
  font-size: 30px
  width: fit-content
.shop
  margin-top: 10px
  background-color: #FFEBCD
  display: flex
  justify-content: center
.containerShop
  margin-top: 10px
  background-image:  url('/images/shop.png')
  background-repeat: no-repeat
  background-position: center top
  width: 1000px
  height: 700px